<div class="user-info-container" >
    <div class="show-card">
      <%= render partial: 'user_card', locals: {user: @user} %>
    </div>

    <div class="orders-list">
      <%@orders.each do |order|%>
          <%= render partial: 'order', locals: {order: order} %>
      <%end%>
      
    </div>
</div>
