<div class="col-7 product-counter" id="nbr_article" style="padding-left:0;">Total <%=products.count %> articles:</div>
  <div class="col-5 text-right"> <span id="cart-total-amount"><%=cart.total_amount%></span> €</div>
</div>

<div class="row mt-3" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;"></div>
<div class="d-flex align-items-center justify-content-evenly">
  <%= link_to "Payer la commande", new_user_order_path(current_user.id) ,class:"btn mt-1 mr-3" %>
  <%= button_to 'Vider le Panier', user_cart_path(current_user,cart), class:'btn mt-1 mb-0', style: 'background-color:white; color:black' ,method: :delete, remote: true %> 
</div>