
  <div class="d-flex mx-5 mt-5 layer-container ">
    <div class="mx-5 layer-left">
        <div class="col"><h4><b>Votre panier</b></h4></div>
        <%= render partial: 'show_product_list', locals: {products: @products, cart: @cart}%>
        <div class="row bottom-cart ">
            <%= render partial: 'show_bottom', locals: {cart: @cart}%>
        </div>
    </div>

    <div class="col-md-4">
      <div>
        <h4><b>Détails</b></h4>
      </div>
      
      <hr>

      <div class="row show-detail">
          <%= render partial: 'show_detail', locals: {products: @products, cart: @cart}%>
      </div>
    </div>
  </div>

