.forgot{
   background-color: #fff;
padding: 12px;
border: 1px solid #dfdfdf;
}

.padding-bottom-3x {
padding-bottom: 72px !important;
}

.card-footer{
background-color: #fff;
}

.password{
   
   a{
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 1px solid;
      width: 20%;
      border-radius: 5px;
      margin: auto;
   }
}

