<div class="wrapper-container">
 <%Category.all.each do |category|%>
  <div>
  <div class="form-check checkbox-container-<%=category.name%>" id="checkbox-container-<%=category.name%>">
    <input type="checkbox" class="form-check-input category-checkboxes" id="<%=category.name%>">
    <label class="form-check-label" for="exampleCheck1"><%=category.name%></label>
    <div class="ghost-check"> </div>
  </div>
  </div>
 <%end%>
</div>