<div class="row">
 <%Category.all.each do |category|%>
  <div class="col-3">
  <div class="form-check">
    <input type="checkbox" class="form-check-input category-checkboxes" id="<%=category.name%>">
    <label class="form-check-label" for="exampleCheck1"><%=category.name%></label>
  </div>
  </div>
 <%end%>
</div>