<div class="container jumbo">
  <div class="jumbotron">
   <div class="border">
      <h1>Katshup</h1>
      <p>Bienvenue sur notre site, n'hésitez pas à acheter de belles images de chat</p>
   </div>    
  </div>
</div>