<div class="d-flex">   
   <div>
      <img src="https://st.depositphotos.com/1000122/2651/i/600/depositphotos_26517721-stock-photo-beautiful-cute-little-kitten-meowing.jpg"
      style="width:70%">
   </div>


   <div>
      <p> <span> TITRE : </span><%= @product.title%></p>
      <p> <span> DESCRIPTION : </span> <%= @product.description%></p>
      <p> <span> PRICE : </span><%= @product.price%></p>
   </div>
</div>