<div class="container-fluid">

  <div class="row d-flex justify-content-center">
      <h1 class="font-weight-bold my-4">Achetez des photos de chatons !!</h1>
  </div>

  <div class="row d-flex justify-content-center">
    <%= render partial: 'categories/filterbox'%>
  </div>

  <div class="row">
    <div class="container-cards">
      <div class="container-card">
        <%= render partial: 'product', layout: "product_layout", collection: @products.order(id:'asc')  %>
      </div>
    </div>
  </div>

</div>

<%= javascript_include_tag 'example' %>