
<div>
    <h1 class="text-center">Achetez des photos de chatons !!</h1>
    <div class="row" style="display:flex; justify-content:center">
        <%= render partial: 'product', layout: "product_layout", collection: @products.order(id:'asc')  %>
    </div>
</div>