
<div>
    <h1 class="text-center font-weight-bold my-4">Achetez des photos de chatons !!</h1>
    <div class="row justify-content-center">
        <%= render partial: 'product', layout: "product_layout", collection: @products.order(id:'asc')  %>
    </div>
</div>