<footer class="bg-light text-center text-dark">
  <!-- Grid container -->
  <div class="container p-4 pb-0 first-div">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Twitter -->
      <a class=" text-dark  m-1" href="https://twitter.com/MLP_officiel" target="blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Linkedin -->
      <a class="text-dark m-1 mx-5" href="https://www.linkedin.com/company/ruby-on-rails/about/" target="blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="  text-dark m-1" href="https://github.com/Leedia88/Katshup" target="blank" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <section class="pb-3">
    <div class="container text-left text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> Katshup
          </h6>
          <p class="text-left">
            Salut l'ami ! Ici tu peux acheter des photos de chats sympas ...
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p>
            <i class="fas fa-home me-3"></i> 
            <a href="https://www.google.com/maps/place/35+Rue+des+F%C3%A9lines,+87100+Limoges/data=!4m2!3m1!1s0x47f934c0fce5ec89:0x610f90ab6dd482d9?sa=X&ved=2ahUKEwjGx9DEsaD4AhWKwIUKHYU9Ag0Q8gF6BAgREAE">35 rue des félines <br/>&nbsp; &nbsp; &nbsp; &nbsp; 87100 Limoges</a> 
          </p>

          <p>
            <i class="fas fa-envelope me-3"></i> <span><a href="https://tenor.com/view/rick-astly-rick-rolled-gif-22755440">hello@katshup.com </a></span>
          </p>

          <p>
            <i class="fas fa-phone me-3"></i> <a href="https://www.cbnews.fr/sites/cbnews.fr/files/styles/panoramic_w1200/public/images/schweppes-sans-pene-249512.jpg?itok=cEC20H31">01 23 45 67 89</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Katshup.com</a>
  </div>
  <!-- Copyright -->
</footer>